<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>trendingEC</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/styles.css" type="text/css"/>

        
    </head>
    
    <body>
        <!--header with navigation-->
        <header>
            <h1 class="title">trendingEC</h1>
            <div class="line"></div>
            <div class="slogan-container">
                <p class='slogan'>News & Entertainment Website</p>
            </div>
            
            
            <nav class='navigation'>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Politics</a></li>
                    <li><a href="#">Education</a></li>
                    <li><a href="#">Sport</a></li>
                    <li><a href="#">Entertainment</a></li>
                    <li><a href="#">Opinion</a></li>
                </ul>
                <!--search bar-->
                <form action="/search" method="GET">
                    <input type="text" name="q" >
                    <button type="submit">Search</button>
                </form>
                
            </nav>
        </header>

        <main>
            <div class="news-section">

            </div>
        </main>
        <!--footer-->
        <footer>
            <div class="container">
                <p class="sub">Subscribe to Our Newsletter</p>
                <input type="text" name="email" placeholder="Enter your email here">
                <button>Subscribe</button>
                <p>&copy; 2024 TrendingEC. All rights reserved.</p>
            </div>
        </footer>
        
        
    </body>
</html>
